body{
    margin: 0;
    padding: 0;
}
.contenedor{
    margin: 0;
    padding: 0;
    background-color: #4831d4;
    width: 100%;
    height: auto;

}
.menu{
    display:flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: #4831d4;
    width: 100%;
    height: inherit;
}
.menu >p{
    padding-left: 20px;
    color: #ffffff;
}
.MenuResponsive{
    color:#ffffff;
}
.miNombre{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}
.MenuResponsive >.fa-solid{
    position: absolute;
    top:35px;
    right: 25px; /* Posición inicial a la derecha */
    transform: translateY(-50%);
    transition: right 0.3s ease-in-out; /* Transición suave */
   
}
.sector-1{
    padding:  15vw;
    background-color: #4831d4;
    color:#ffffff;
    position:relative;
    text-align: left;
}
.sector-1 >h1{
    font-size: 40px;
}

.sector-1-2{
    background-color: #4831d4;
    color:#ffffff;
    display: flex;
    flex-direction: row;
    position:relative;
}
.sector-1-2 >p{
    margin-top: 100px;
    padding: 0;
    padding-left: 0px;
}
.p2{
    margin-left: 50px;
}
.sector-2{
    text-align: left;
   display: flex;
   flex-direction: column;
   align-items: center;
    width: 100%;
    height: auto;
    position:absolute;
    background-color:azures;
}
.sector-2 >h2{
    color: #4831d4;
}
.sector-2 >p{
    color: #4831d4;
    align-items: center;
    width: 60%;
    text-align: justify;
    font-size:medium;
}
.sector-3{
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    display:flex;
    flex-direction: column;
    position:relative;
    align-items: center;
    width: 100%;
    background-color: #4831d4;
}
.sector-3 >h2{
color: #ffffff;
   
}
.sector-3 >p{
   
    color: #ffffff;
    align-items: center;
    width: 60%;
    font-size:small;
   
}
.sector-4{
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    display:flex;
    flex-direction: column;
    position:relative;
    align-items: center;
    width: 100%;
    background-color: white;
}
.sector-4 >.section-1{
    color: #4831d4;
width: 80%;
height: 300px;
font-size: smaller;
   margin-left: 20px;
   margin-right: 20px;
    background-color:whitesmoke;
    border-bottom: 2px solid #4831d4;
}
.sector-4 >.section-2{
    color: #4831d4;
    background-color:whitesmoke;
    width: 80%;
    height: 300px;
    margin-left: 20px;
   margin-right: 20px;
}
.section-1 >p{
    width: 40%;
    padding-left: 60px;
}
.section-1 >h2{
    padding-left: 60px;
    width: 40%;
    
}
.section-1 >a{
    padding-top: 15px;
    padding-left: 25px;
    width: 40%;
    height: 30px;
    margin-left: 60px;
    position: absolute; /* Establece la posición absoluta para el párrafo */
    bottom: 400px; /* Coloca el párrafo en la parte inferior del contenedor */
    border: 2px solid #4831d4;
    text-decoration: none;
}

.section-2 >p{
    width: 40%;
    padding-left: 60px;
}
.section-2 >h2{
    padding-left: 60px;
    width: 40%;
    
}
.section-2 >a{
    font-size: small;
    padding-top: 15px;
    padding-left: 25px;
    width: 40%;
    height: 30px;
    margin-left: 60px;
    position: absolute; /* Establece la posición absoluta para el párrafo */
    bottom: 100px; /* Coloca el párrafo en la parte inferior del contenedor */
    border: 2px solid #4831d4;
    text-decoration: none;
}
.sector-5{
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    display:flex;
    flex-direction: column;
    position:relative;
    align-items: center;
    width: 100%;
    background-color: white;
}
.sector-5 h2{
    color: #4831d4;
}
.sector-5 p{
    color: #4831d4;
    width: 80%;
}
.formulario{
    display: flex;
    flex-direction: column;
}
label{
    color: #4831d4;
    margin-top: 20px;
}
input{
    border: 0;
    text-decoration: none;
}
.formulario input{

    border-bottom: 2px solid #4831d4;
    color: #4831d4;
    width: 330px;
margin-top: 20px;
padding-top: 10px;
}
textarea{
    border: 0;
}
#mensaje{
    margin-top: 20px;
    border-bottom: 2px solid #4831d4;
    color: #4831d4;
}

/* .ordenador img {
    display: block; /* Asegura que la imagen sea un elemento en bloque 
    margin: auto;  Centrar horizontalmente 
   */

.sector-6{
    display:flex;
    flex-direction: row;
    position:relative;
    align-items: center;
    width: 100%;
    background-color:#3d155f;
}
.basic-content{
    width: 100%;
    margin-left: 40px;
}
li{
    
    list-style: none;
}
li >a{
    text-decoration: none;
    list-style: none;
    color:#ffffff;
}
.ul-mail{
    padding-top: 80px;
}
.mail{
    padding-bottom: 20px;
    font-size: smaller;
}
.Work{
    padding-bottom: 20px;
    font-size: smaller;
}
#say-hello{
    margin-left: 40px;
    padding-top: 40px;
    text-align: left;
    position:absolute;
    color: white;
}
span{
    color: #ffffff;
}
#copy{
    margin-bottom: 20px;
    margin-left: 60px;
    padding-top: 200px;
    color: #ffffff;
}
.copyright{
    font-size: 30px;
}
.sector-5 >.submit{
    font-size: small;
    padding-top: 15px;
    padding-left: 25px;
    width: 40%;
    height: 30px;
    margin-right: 140px;
    position: absolute; /* Establece la posición absoluta para el párrafo */
    bottom: -30px; /* Coloca el párrafo en la parte inferior del contenedor */
    border: 2px solid #4831d4;
    text-decoration: none;
}
#miMenu{
    position:relative ;
    z-index: 1;
    
}
li{
    padding-bottom: 25px;
}
.menu-responsive{
    
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: right;
    width: 100%;
    height:100%;
    background-color:#4831d4;
    
}
.menu-responsive > li a {
    color:#ffffff;
}
.FrontContenido{
    padding-bottom: 50px;
}
.Miscontenidos{
    color: aliceblue;
}


.linea {
    text-align: center;
    height: 40px;
    background-color: #ccf381; /* Cambia esto al color que desees */
    width: 100%;
}
.DerechosReservados{
    text-align: center;
}
